// @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

// $font-family-sans-serif: "Manrope", sans-serif;
// 14px en rem
$font-size-base: 0.875rem;
//$primary: ;
// $dark: #000;
//$red: lightcoral;
//$green: lightgreen;

// $body-bg: #f0f0f1;
//$body-bg: #edf1f8;
//$dark: #3f454f;

$border-width: 1px;
$input-btn-focus-box-shadow: none;

// $input-bg: #ffffff;

// card bg
// $card-bg: #fff;
// $table-bg: #fff;
//$border-radius: 0rem;
// $breadcrumb-bg: transparent;
//$alert-border-radius: 0rem;

// Bootstrap
@import "bootstrap/scss/bootstrap";

.thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
label {
    // font-weight: 600;
    // font-size: 0.9rem;
}

.d-flex {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 0;
    }
}
